.container {
    text-align: center;
  }

  .link{
    text-decoration: none;
  }
  
  .card {
    transition: transform 0.3s;
    background-color: rgb(17, 17, 17);
    color: rgb(184, 184, 184);
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .card-img-top {
    max-width: 100%;
    height: auto;
  }
  
  .card-text {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 300;
    color: white;
  }
  
  